P1_AgenteConversacional/anexos/
P1_AgenteConversacional/pdfs/
P2_AgentesReactivosDeliberativos/Belkan
P2_AgentesReactivosDeliberativos/BelkanSG
P2_AgentesReactivosDeliberativos/pdfs/
P3_BusquedaConAdversario-Juegos_Contecta4Boom/pdfs/
*.o
*.a
